
  <div class="container my-4" data-controller="insert-design-in-list" data-insert-in-list-position-value="beforeend">
    <p>
      <a class="btn button-digi-grafikka btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-plus"></i>&nbsp;&nbsp;Nuevo
      </a>
    </p>
    <div class="collapse mb-3" id="collapseExample">
      <div class="card card-body">
        <%= render 'form', portfolio: @portfolio, design: @design %>
      </div>
    </div>


    <div data-controller="search-designs">
      <%= form_with url: portfolio_designs_path(@portfolio),
      method: :get, html: { class: 'mb-4', data: { search_designs_target: 'searchForm' } } do |f| %>
        <%= f.text_field :query,
                          class: "form-control",
                          placeholder: 'Search design',
                          value: params[:query],
                          data: {
                            search_designs_target: 'searchInput',
                            action: 'keyup->search-designs#update'
                          }
                          %>
      <% end %>

      <%= render 'list', designs: @designs %>
    </div>
  </div>
