<h3>Designs#new</h3>
<%= simple_form_for [ @portfolio, @design ] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.submit "Submit Bookmark", class: "btn btn-primary" %>
<% end %>
