<% if user_signed_in? %>
  <div class="portfolios-container">
    <div class="container py-4">
      <h4 class="">Conversaciones</h4>
      <div class="container-followers">
        <% @chatrooms.each do |chatroom| %>
          <div class="follower bg-white has-shadow my-3 p-2">
            <span>
              <%= link_to chatroom_path(chatroom) do %>
                <%= image_tag "#{chatroom.portfolio.user.image}", width: 80, class: 'img-fluid rounded-circle img-thumbnail shadow-sm' %>
              <% end %>
            </span>
            <div class="description-follower ms-2">
              <h5 class="m-1">Todo list with React, Redux, TypeScript and drag and drop</h5>
              <p class="text-muted m-0 ps-1"><%= chatroom.user.name %> <%= chatroom.user.last_name %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
