<h1 class='book-h1'>Agrega un nuevo portafolio</h1>
<br>
<%= link_to 'Regresar', portfolios_path, class: 'portfolio-back' %>
<div class='portfolio-form'>
  <%= render 'form', portfolio: @portfolios %>
</div>
