<div class="container mb-3">
  <h4 class='book-h1' style="color:white">Agrega un nuevo portafolio</h4>
  <br>

  <div class='portfolio-form'>
    <%= render 'form', portfolio: @portfolio %>
  </div>
</div>
