<div class="container-welcome">
 <div class="formulario" style= "width:100%; ">
   <%= image_tag("agregarportfolio.png", style:"width:100%; " )%>
     <%= link_to 'Agregar Portafolio', new_portfolio_path, class:'button-card-portfolios' %>
  </div>
</div>
