<h6>holis</h6>
<%= link_to 'Agregar Portafolio', new_portfolio_path, class: 'btn button-digi-grafikka' %>
<div class="container container-welcome">
  <div>
  </div>
  <div>
    <%= image_tag "donald.png", style: 'height:50vw;width:100vw;margin-bottom:20px;' %>
  </div>
</div>
