<div class="container-welcome">
  <div style="background-color: #A77E69">
    <div>
      <h4>Bienvenido</h4>
      <p>Ahora puedes mostrarnos tu arte</p>
    </div>
    <p>
      <%= link_to 'Agregar Portafolio', new_portfolio_path, class: 'btn btn-lg button-digi-grafikka' %>
    </p>
  </div>
  <div>
    <%= image_tag "welcome.png" %>
  </div>
</div>
