<div class="portfolios-container">
  <div class="container py-4">
    <h4 class="">Siguiendo</h4>
    <div class="container-followers">
      <% @followers.each do |follower| %>
        <div class="follower bg-white has-shadow my-3 p-2">
          <span>
            <%= link_to portfolio_path(follower.portfolio) do %>
              <img loading="lazy" alt="profile image" class="img-fluid rounded-circle img-thumbnail shadow-sm" width="80" height="80" src="https://res.cloudinary.com/practicaldev/image/fetch/s--Ydp3mN2_--/c_imagga_scale,f_auto,fl_progressive,h_100,q_auto,w_100/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/362356/7f700e45-f9bd-4bb4-9053-e0ed4554c08a.jpeg">
            <% end %>
          </span>
          <div class="description-follower ms-2">
            <h5 class="m-1">Todo list with React, Redux, TypeScript and drag and drop</h5>
            <p class="text-muted m-0 ps-1">Daniel Gomez Jaramillo</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
