.sort-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
    .dropdown-menu {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}