.container-welcome{
  display: flex;
  div{
    width: 50%;
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 20px;
      h4{
        color: white;
        font-style: oblique;
        font-size: 85px;
        font-weight: 800;
      }
      p{
        //align-self:stretch;
        color: #fff;
        font-size: 18px;
        padding-left: 15px;
        a{
          background-color: #21223B;
          margin-left: 30px;
          border-color: 1.5px solid #21223B;
          &:hover{
            border-color: 1.5px solid #21223B !important;
          }
        }
      }
      @media only screen and (max-width: 768px) {
        h4{
          font-size: 50px;
        }
        p{
          font-size: 16px;
          a{
            padding: 5px 8px;
            font-size: 16px;
          }
        }
      }
    }
    img{
      width: 100%;
      div{
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 540px) {
    flex-direction: column;
    div{
      width: 100%;
      &:nth-child(1){
        p{
          a{
            margin-left: 18px;
          }
        }
      }
      h4{
        margin-top: 20px;
      }
      &:nth-child(2){
        display: none;
      }
    }
  }
}
