.button-card-banner1{

	background-color: #0095F6;
	color: white;
	padding: 10px 20px;
	border-radius: 8px;
	font-family: 'Roboto',sans-serif;
	text-decoration: none;
}
.button-card-banner1:hover{

    background-color: transparent;
    color: #0095F6;
    transform: translateY(-3%);
}


.button-card-banner2{

	background-color:
  yellowgreen
  ;
	color: white;
	padding: 10px 20px;
	border-radius: 8px;
	font-family: 'Roboto',sans-serif;
	text-decoration: none;
}
.button-card-banner2:hover{

    background-color: white;
    color: yellowgreen;
    transform: translateY(-3%);
}

.button-card-banner3{

	background-color: yellowgreen;
	color: white;
	padding: 10px 20px;
	border-radius: 8px;
	font-family: 'Roboto',sans-serif;
	text-decoration: none;
}
.button-card-banner3:hover{

    background-color:white;
    color: yellowgreen;
    transform: translateY(-3%);
}
