.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}


.card-index-porfios{
  background-color: #24385b;
  transition: all 0.25s;
  &:hover{
    transform: translateY(-10px);
  }
  .container-designs{
    display: flex;
    height: 85px;
    div{
      width: 50%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .container-tech{
    h6{
      a{
        color:#fff;
      }
    }
    span{
      i{
        color: #33b1ff;
      }
    }
  }
  .content-favorites-and-likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      line-height: 1;
      color: #fff;
      &:nth-child(2){
        font-size: 13.5px;
      }
    }

  }
  h6{
    a{
      text-decoration: none;
      color: #000;
    }
  }
  .button-card-portfolio{
    .mensaje{
      a{
        background-color: #22223B;
        border: 1.5px solid #dee8ff;
        //color: #003ecb;
        color: #fff;
        text-decoration: none;
        padding: 8px 50px;
        border-radius: 20px;
        &:hover{
          background-color: #F1E9E4;
          border: 1.5px solid #dee8ff;
          color:#000;
        }
      }
    }
  }
}
