.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-text{
  text-align: justify
}
.card-image{
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  margin-bottom: 10px

}
.container{
  background-image:cover;
}
.card-text{
  font-family: monospace;
}
