.card-design{
  background-color: #24385b;
  transition: all 0.25s;
  &:hover{
    transform: translateY(-10px);
  }
  h6{
    color:#fff;
  }
  img{
    height: 180px;
    width: 90%;
    object-fit: cover;
  }
  i{
    width: 30px;
    height: 30px;
    border: 1px solid #33b1ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #33b1ff;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: #33b1ff;
    }
    &:focus{
      text-decoration: none;
      color: #33b1ff;
    }
  }
}
