.user-form-container {
    background-color: #F2E9E4;
    padding: 50px;
    color: white;
    .user-form {
        background-color: #35354C;
        margin: 0 auto;
        padding: 20px;
        width: 400px;
        border: 1px solid black;
        border-radius: 10px;
    }
}
